body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
 
  .container {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .form-heading {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  
  .btn-login, .btn-signup {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-login {
    background-color: #007bff;
  }
  
  .btn-login:hover {
    background-color: #0056b3;
  } 
  
  .btn-signup {
    background-color: #6c757d;
  }
  
   .btn-signup:hover {
    background-color: #5a6268;
  }
